* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto'; 
}

.header-container,
.content-container {
    background-color: #1F2937;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }

  .header-top {
    width: 1000px;
    display: flex;
    justify-content: space-between;
  }

  .links {
    font-size: 18px;
    color:#E5E7EB;
    display: flex;
    justify-content: flex-end;
  }

  .header-link-two,
  .header-link-three {
    margin-left: 20px;
  }

  .header-logo {
    font-size: 24px;
    color: #F9FAF8
  }
  
  .title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8
  }

.content {
    width: 1000px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.right {
    display: flex;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title {
    width: 550px;
}

.subtext {
    width: 400px;
    font-size: 18px;
    color: #E5E7EB;
}

.signup,
.signup-2 {
    background-color: #3882f6;
    border: 2px none;
    color: #fff;
    border-radius: 10px;
    width: 80px;
    height: 40px;
}

.placeholder {
    background-color: grey;
    padding: 52px;
    width: 351px;
    color: white;
}

.random-info {
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.pictures-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 130px;
    height: 420px;
}

.picture {
    display: flex;
    width: 163px;
    text-align: center;
    height: 220px;
    flex-direction: column;
    justify-content: space-between;
}

.picture-placeholder {
    display: flex;
    height: 155px;
    border: 5px solid #3882F6;
    border-radius: 20px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    height: 465px;
    padding: 206px;
    justify-content: center;
}

.quote-main,
.quote-source {
    font-size: 28px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

.quote-source {
    display: flex;
    justify-content: flex-end;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    padding: 20px;
}

.call-to-action-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #3882F6;
    padding: 50px;
    margin: 150px;
    border-radius: 10px;
}

.call-title {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.call-subtext {
    color: #E5E7EB;
    font-weight: lighter;
}

.signup-2 {
    border: 1px solid white;
}

.footer-container {
    background-color: #1F2937;
    color: #E5E7EB
}

.footer-text {
    display: flex;
    justify-content: center;
    padding: 50px;
    font-size: 17px;
}